@model dynamic

@{
    ViewBag.Title = "QuickBooks Integration Sample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Actions</h2>
@Html.ActionLink("Show all clients and services", "ClientsAndServices")
<br />
@Html.ActionLink("Show time activity", "TimeActivities")
<br/>
@Html.ActionLink("Create new time activity", "CreateTimeActivity")
